<div class="main">
    <div class="pages">
        <div class="tooltips">
            <h2>Tooltips</h2>
        </div>
        <div class="flex_content-1">
            <div class="item-flex-1">
                <div class="item-top">
                    <h2>Basic</h2>
                </div>
                <div class="item-bottom">
                    <button mat-raised-button color="primary">Primary</button>
                </div>
            </div>
            <div class="item-flex-2">
                <div class="item-top">
                    <h2>Uppercase</h2>
                </div>
                <div class="item-bottom">
                    <button mat-raised-button color="primary">Primary</button>
                </div>
            </div>
            <div class="item-flex-3">
                <div class="item-top">
                    <h2>Disabled on click</h2>
                </div>
                <div class="item-bottom">
                    <button mat-raised-button color="primary">Primary</button>
                    <mat-checkbox class="example-margin" [disabled]="false">Tooltip disabled</mat-checkbox>
                </div>
            </div>
        </div>
    </div>
</div>