.main {
    background-color:#0a1422;
    width: 1120px;
    height: auto;
    overflow:hidden;
}

.contents-1 {
    margin-top:30px;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
}
.carusel-container {
    position: relative;
   

}
.carusel-container img {
display:none;
}
.carusel-container img.image-active {
    width: 250px;
    height:250px;
    display:block;
}
.carusel-dod-container {
    // position:absolute;
   top:600px;
    display:flex;
    padding:0;
    justify-content:center;
    margin-bottom:1rem;
}

.dot {
    cursor:pointer;
    height: 12px;
    width:12px;
    margin:0 5px;
    background-color:#fff;
    border-radius: 50%;
    display:inline-block;
    transition: opacity 0.6s ease;
    opacity:0.5;
}
.active,
.dot:hover {
    opacity:1;
}
.fade {
    animation-name: fade;
    animation-duration:1s;
}
@keyframes fade {
    from {
        opacity:0.4;
    }
    to {
        opacity:1;
    }
}
.btn-carusel {
    cursor:pointer;
    color:#fff;
    position: static;
   top:470px;
    left:220px;
    display:flex;
    align-items:center;
    justify-content:center;
    width:20px;
    background:0 0;
    border:0;
    margin-right:30px;
}
.btn-carusel-2 {
    cursor:pointer;
    color:#fff;
    position: static;
   top:460px;
    left:690px;
    display:flex;
    align-items:center;
    justify-content:center;
    width:20px;
    margin-left:30px;
    background:0 0;
    border:0;
}
.icon-carusel {    color: #fff;
    opacity:0.5;
    transition:all 0.15s ease;
}
.icon-carusel:hover {

    opacity: 0.6;
}
.icon-carusel:active {
    opacity:0.9;
}
.container {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.contents_text {
    margin-bottom:50px;
}
.contents_text .title h6{
    color:#006ed9;
    font-size:1.2rem;
    font-family:sans-serif;
}
.contents_text .title h2 {
    color:#c4cad4;
    font-size:2.9rem;
    max-width:500px;
    min-width:50px;
    line-height:50px;
    width:420px;
}
.contents_text .title p {
    width:500px;
    font-size:1.2rem;
    min-width:50px;
    max-width:600px;
    font-family:sans-serif;
    color:#c4cad4;
}
.flex_img h4 {
    color:#c4cad4;   
}
.images_box {
    display:flex;
    gap:10px;

}
.images_box img {
    width:auto;
    height:auto;
    margin:4px;
    cursor:pointer;
}
.and_more{
    margin-top:10px;
}
.and_more:hover {
cursor:pointer;
color:#c4cad1;

}
.download {
    background-color: #0a4f93;
    padding: 16px;
    width:200px;
    color:#f6f8fa;
    border-radius:10px;
    border:none;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    display:flex;
    cursor:pointer;
    justify-content: center;
    align-items: center;
    height:50px;
    margin: 16px;
    
}
.content_button {
    display:flex;
}
.source {
    background-color: #1e2734;
    padding:16px;
    height:50px;
    width:180px;
    color:#f6f8fa;
    border-radius:10px;
    border:none;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    display:flex;
    cursor:pointer;
    justify-content: center;
    align-items: center;
    margin:16px;
}
.changelog {
    color:#c4cad4;    
}
.container-2 {

        margin-top:40px;
    width:1190px;
    height:700px;
    background-color: #1e2734;
}
.indicatorss_next {
    display:flex;
    width:auto;
    margin:10px;
}

.content-page {
    display:flex;
    justify-content:center;
    align-items:center;
   

}
.right_page {
    background-color: #0a1422;
    width:350px;
    height:500px;
     margin-top: 60px;
    border-radius:10px;

}
.right_title-page {
    display: flex;
    justify-content: space-around;

}
.right_title-page h3 {
    color:#c4cad4;
    margin: 6px;
    font-size: 1.4rem;

}
.right_title-page h4 {
    color:#c4cad4;
    margin: 6px;
    font-size: 1.2rem;

}
.right_title-page mat-icon {
    color:#c4cad4;
    font-size:1.2rem;
    margin:6px;
    cursor:pointer
}
.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 20px;
  }
  
  .example-margin {
    margin: 10px;
  }
  mat-slider {
    width: 250px;
    margin-top:-50px;
    margin: 10px;
  }
  label {
    margin:10px;
    font-size: 1.4rem;
    color:#c4cad4;
  }
  .right_title_page {
    padding:10px;
  }
  .right_title_page h3{
    color:#c4cad4;
   margin:10px;
    font-size: 1.4rem;
  }
  .right_colors_page {
    display:flex;
    justify-content: space-around;
  }
  .right_colors_page h3{
    color:#c4cad4;
   margin:10px;
    font-size: 1.2rem;
  }
  .color_input_page {
    background-color: #1e2734;
    width:150px;
    border-radius:60px;
    height:40px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
margin-right:10px;
  }
  .color_input_page input {
    border-radius:100px;
    background-color:black;
    border:1px solid black;
    width:40px;
    height:30px;
    outline:none;
    color:black;

  }
  .color_input_page p {
    color:#c4cad4;

     font-size: 0.75rem;
  }

  .right_select_page {
    display:flex;
    justify-content: space-around;
  }
  .right_select_page h3 {
    color:#c4cad4;
    margin:10px;
     font-size: 1.2rem;
  }
  .select_option_page {
   
  }
  .select_option_page select {
    background-color: #1e2734;
    width:150px;
    border-radius:60px;
    height:40px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
margin-right:10px;
outline:none;
border:1px solid #c4cad4;
color:#c4cad4;
font-size: 1rem;
padding:5px;
   
  }
  .select_option_page select option {
    color:#cdcad4;
    font-size: 1rem;
    background-color: #1e2734;
  }
//   Responsive Design
@media only screen and (max-width:1280px){
    .contents-1 {
        display:none;
    }
    .main {
        width:100%;
    }
    .container-2 {
        width: 100%;
    }
}
