<div class="main">
    <app-header ></app-header>
    <div class="container"><div  class="contents-1">
        <div class="carusel-container" *ngIf="images && images.length > 0" >
<img *ngFor="let image of images; let i=index" [src]="image.ImageSrc" [alt]="image.ImageAlt"
   [ngClass]="{'image-active':selectedIndex === i}" class="fade">
        </div> 
        <div class="indicatorss_next"> <button *ngIf="controls" class="btn-carusel btn-prev">
        <mat-icon class="fas fa-arrow-circle-left icon-carusel icon-prev" (click)="onPrevClick()">
            arrow_back_ios
        </mat-icon>
    </button>
    <button *ngIf="controls" class="btn-carusel-2 btn-next">
        <mat-icon class="fas fa-arrow-circle-right icon-carusel icon-prev" (click)="onNextClick()">
     
arrow_forward_ios

        </mat-icon>
    </button></div>
        <div *ngIf="indicators" class="carusel-dod-container">
          <span *ngFor="let dot of images; let i=index" class="dot" [ngClass]="{'active':selectedIndex === i}" (click)="selectedImage(i)" ></span>
        </div>
       
       
   
    </div> <div class="contents_text">
 <div class="title">
    <h6>TABLER ICONS</h6>
    <h2>
        5307 pixel-perfect icons for web design
    </h2>
    <p>
        Free and open source icons designed to make your website or app attractive, visually consistent and simply beautiful.<p>
            <div class="flex_img">
                <h4>Available:</h4>
                <div class="images_box" >
                    <img src="./assets/logo-figma.svg">
                    <img src="./assets/logo-react.svg">
                    <img src="./assets/logo-react-native.svg">
                    <img src="./assets/logo-vue.svg">
                    <img src="./assets/logo-preact (1).svg">
                    <img src="./assets/logo-svelte.svg">
                    <img src="./assets/logo-solidjs.svg">
                    <img src="./assets/logo-webfont.svg">

                </div>
                <h4 class="and_more">and more...</h4>
            </div>
 </div>
 <div class="content_button">
    <button class="download">
        <mat-icon>
            download
        </mat-icon>
        Download v36.0
    </button><button class="source">
        <mat-icon >terminal</mat-icon>
        Source code
    </button>
 </div>
 <h4 class="changelog" >Changelog</h4>
    </div>
 </div>
 <div class="container-2" > 
<div class="content-page">
<div class="right_page">
    <div class="right_title-page"><h3>Customize icons</h3>
    <mat-icon>refresh</mat-icon>   </div>
    <div class="right_title-page">
        <h4>Style:</h4>
        <mat-slide-toggle
        class="example-margin"
        [color]="color"
        >
     
    </mat-slide-toggle>
    </div>
    <div class="right_title_page">
        <h3>Size</h3>      <label class="example-value-label">{{slider.value}}</label>
     
        <mat-slider
        class="example-margin"
        [disabled]="disabled"
        [max]="max"
        [min]="min"
        [step]="step"
        [discrete]="thumbLabel"
        [showTickMarks]="showTicks">
      <input matSliderThumb [(ngModel)]="value" #slider>
    </mat-slider>
    </div>
    <div class="right_title_page">
        <h3>Stroke</h3>      <label class="example-value-label"></label>
   
        <mat-slider>
            <input matSliderThumb>
          </mat-slider>
   
    </div>
    <div class="right_colors_page">
        <h3>Color:</h3>
        <div class="color_input_page">
            <input value="black" type="color">
            <p>Current Color</p>
        </div>
    </div>
    <div class="right_select_page">
        <h3>
            Category:
        </h3>
         <div class="select_option_page">
        <select>
            <option>All</option>
            <option>Animals</option>
            <option>Arrows</option>
            <option>Badges</option>
            <option>Brand</option>
            <option>Buildingis</option>
            <option>Charts</option>
            <option>Communications</option>
            <option>Option</option>
            <option>Design</option>
            <option>Symbols</option>
            <option>Database</option>
        </select>

         </div>
    </div>
</div>
<div class="left_page"></div>
</div>

 </div>
   <div>
    
   </div>
</div>
