.main {
    margin:10px;
    width: 1140px;
    height:720px;
overflow: auto;
    background-color:#0a1422;
    // background-color:#1e2136;

    // 2c2e40
}
.fixed {
    position: fixed;
    width:1140px;
    transition:0.2s linear;
        background-color:#1e2136;
        border-bottom:0.1px solid #fff
    
}
.nofixed {
    position:static;
    transition:0.2s linear;
   
}
::-webkit-scrollbar {
    height: 0;
    width: .5rem;
}

 ::-webkit-scrollbar-track {
    background: var(--secon-bg-color);
}

 ::-webkit-scrollbar-thumb {
    background-color: var(--hover-color);
    border-radius: 5rem;
}

// Responsive Design
@media only screen and (max-width:1280px){
    .main {
        width:800px;

    }
}